<%- include('header'); -%>

<div class="box" id="heading">
            <h1><%= kindofday %></h1>
        </div>
        
        <div class="box">
            <form action="/delete" method="post">
                <%listarray.forEach(function(items){%>
                    <div class="item">
                    
                        <input type="checkbox" onchange="this.form.submit()" name="delete" value="<%=items._id%>" >
                        <p><%=items.name%></p>
                    </div>
                <%   });  %>
            </form>
            
        
            
            <form class="item" action="/" method="post">
                <input type="text" name="sample" placeholder="ADD NEW TASK" autocomplete="off">
                <button type="submit">+</button>
            </form>
        </div>

<%- include('footer'); -%>